<%- include('partials/header'); -%>
<%- include('partials/main_nav'); -%>
  

<div class="innerdiv">
  <br>
 <h1><%= title %></h1>
 <br>
 <br>
   <!--<img src="/assets/images/me.jpg" alt="myPhoto" width="200">-->
   <!--Issues using relative path for img hosting on Heroku. Google photos embed as reliable alternative-->
   <img class="aboutImg" src="https://lh3.googleusercontent.com/qbbAJ_r2ZmZynWIHBAoSIcTDPuTeUqKLzJ6WgmICG3er2MjXLep9oGYc8lz-0zKVB7IVSQ_gNB_LITWsQmQQwCxtJ0ZX5dLcL8FYp4OknQZ36LOMAeFBrskp6KfXrKOYUWFociNwrVI=w2400" alt="myPhoto">
   <br>
   <h4>
   <!--<a href="/assets/resume.pdf" target="_blank">My resume</a>-->
   <!--Issues using relative path for img hosting on Heroku. Google photos embed as reliable alternative-->
   <a href="https://www.dropbox.com/s/uyi4rb57zhs1985/resume.pdf?dl=0" target="_blank">My resume</a>
   <br>
    My name is Nathan Heung
    <br>
    I was born in Toronto Canada in 1993
    <br>
    I'm currently studying 
    <a href="https://www.centennialcollege.ca/programs-courses/full-time/artificial-intelligence/" target="_blank">Software Engineering AI</a> 
    at <a href="https://www.centennialcollege.ca/" target="_blank">Centennial College</a>
    <br>
    I work in the <a href="https://www.iatse873.com/" target="_blank">film industry</a> as a lighting technician and want to make a career change into software engineering.
    <br>
    I enjoy watching horror movies, playing video games, and am an auto enthusiast. 
   </h4>

   </div>




   <%-include ('partials/bottom_nav.ejs');%>
<%-include ('partials/footer.ejs');%>   

