<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>

<h1>Oops, that page does not exist</h1>
<img class="imgError" src="https://lh3.googleusercontent.com/F4nI90LZ9hDg9XdHfCnc23RSD8j1Amr8C-BBzx6fFBRWwVGQ91bUt1yb-EH6nZA6v33QFr_gjYNSVglFI6A4BsTyQr97rUnYpriXSRWJRq1HtGu4uE54MXvLDl3shM4Cq4hsBAmkebM=s300-p-k">
<h1><%= error.status %> &nbsp <%= message %></h2>
<pre><%= error.stack %></pre>

<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>
