<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>

<div class="innerdiv">
  <br>
  <h1><%= title %></h1>
  <br>
  <h3>Welcome to my Express Portfolio for <a href="https://www.centennialcollege.ca/programs-courses/full-time/course/web-application-development/" target="_blank">COMP 229</a></h3>
  <br>
  <h3>Please browse the website using the top navigation bar or the links below:</h3>
   
  <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact">Contact</a></li>
  </ul>

   <p><i>Our mission is to provide a dependable servies with a positive customer experience</i></p>

</div>

<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>

