<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>

<div class="innerdiv">
  <br>
  <h1><%= title %></h1>
  <br>
  <h3>Welcome to my Express Portfolio for <a href="https://www.centennialcollege.ca/programs-courses/full-time/course/web-application-development/" target="_blank">COMP 229</a></h3>
  <br>
  <h3>Please browse the website using the top navigation bar or the links below:</h3>
   
  <ul class="list-group">
      <li class="list-group-item list-group-item-info"><a href="/about" class="list-group-item list-group-item-action list-group-item-action list-group-item-primary"><i class="fa-regular fa-hand-point-right"></i>&nbsp;About</a></li>
      <li class="list-group-item list-group-item-info"><a href="/projects" class="list-group-item list-group-item-action list-group-item-action list-group-item-primary"><i class="fa-regular fa-hand-point-right"></i>&nbsp;Projects</a></li>
      <li class="list-group-item list-group-item-info"><a href="/contactList" class="list-group-item list-group-item-action list-group-item-action list-group-item-primary"><i class="fa-regular fa-hand-point-right"></i>&nbsp;Business Contacts</a></li>
      <li class="list-group-item list-group-item-info"><a href="/services" class="list-group-item list-group-item-action list-group-item-action list-group-item-primary"><i class="fa-regular fa-hand-point-right"></i>&nbsp;Services</a></li>
      <li class="list-group-item list-group-item-info"><a href="/contact" class="list-group-item list-group-item-action list-group-item-action list-group-item-primary"><i class="fa-regular fa-hand-point-right"></i>&nbsp;Contact</a></li>
  </ul>
  <br>
   <p><i>Our mission is to provide a dependable servies with a positive customer experience</i></p>

</div>

<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>

