<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>

<div class="innerdiv">

    <br>
    <h1><%= title %></h1>
    <br>
    <h3 style="text-align:center">Here are some projects I have worked on during my studies:</h3>
    
    <ul class="projectList">
     <li>
        <a href="http://studentweb.cencol.ca/nheung/COMP125/assignment1/assignment1.html" target="_blank">BMR Calculator</a>
        <!--<img class="imgList" src="/assets/images/bmrcalculator.png" width="600">-->
        <!--Issues using relative path for img hosting on Heroku. Google photos embed as reliable alternative-->
        <a href="http://studentweb.cencol.ca/nheung/COMP125/assignment1/assignment1.html" target="_blank">
        <img class="imgList" src="https://lh3.googleusercontent.com/m88OgRq7UGjHWTqaRdnvD9cQwvxnoyMVNFdTFtBEbGQR6WhLkRZ8U-HV9WHqKbalZ7VrBZ6NidNSxyXm8JDeugqEZR0oyP-PFziCIKpdJfefAzDx84gLlJ6IwQBoRTx2nBTnEkDaKZQ=w2400" width="600">
        </a>
        <i>Created a BMR calculator using raw javascript </i>
     </li>
     <br>
     <li>
        <a href="http://studentweb.cencol.ca/nheung/COMP125/assignment6/index.html" target="_blank">Jquery Gallery</a>
        <!--<img class="imgList" src="/assets/images/jquerygallery.png" width="600">-->
        <!--Issues using relative path for img hosting on Heroku. Google photos embed as reliable alternative-->
        <a href="http://studentweb.cencol.ca/nheung/COMP125/assignment6/index.html" target="_blank">
        <img class="imgList" src="https://lh3.googleusercontent.com/2Aod_6UMR9ghu5LUZuSUsbjwW3GKjEEn-UFRMxJnKNkakPYGFWTQPytc8dq3pj4Y5Nw8WfVL9jf4nfFBXPGSPM_dVjENyZwkJ2uoP-4yM0KBsLfbfEItklamsX35AtXrtoTCrstBV5I=w2400" width="600">
        </a>
        <i>A jquery carousel gallery with a time interval to advance each image automatically</i>
     </li>
     <br>
     <li>
        <a href="https://lh3.googleusercontent.com/LjkMwHG9X3pJlovchwVx-nTeWujK8nc7YMwC_PQn4n-OfO7LkLvTwk4QJEDYdun_pdOx7i5WvvKAgZysF54xEXIACydpzOaEsGZWWeSq_nBq7T1BOHQpCbDwn4CD6WD-zpmxqVnoTbs=w2400" target="_blank">
        Diagrams for a Web Application
        </a>
        <!--<img class="imgList" src="/assets/images/erd.png" width="600">-->
        <!--Issues using relative path for img hosting on Heroku. Google photos embed as reliable alternative-->
        <a href="https://lh3.googleusercontent.com/LjkMwHG9X3pJlovchwVx-nTeWujK8nc7YMwC_PQn4n-OfO7LkLvTwk4QJEDYdun_pdOx7i5WvvKAgZysF54xEXIACydpzOaEsGZWWeSq_nBq7T1BOHQpCbDwn4CD6WD-zpmxqVnoTbs=w2400" target="_blank">
        <img class="imgList" src="https://lh3.googleusercontent.com/LjkMwHG9X3pJlovchwVx-nTeWujK8nc7YMwC_PQn4n-OfO7LkLvTwk4QJEDYdun_pdOx7i5WvvKAgZysF54xEXIACydpzOaEsGZWWeSq_nBq7T1BOHQpCbDwn4CD6WD-zpmxqVnoTbs=w2400" width="600">
        </a>
        <i>Co-lead of a group project to propose a potential application and draft an SRS document including a variety of diagrams 
           including domain class diagrams, entity relationship diagrams, and system sequence diagrams</i>
     </li>
     <br>
     <li>
        <a href="http://studentweb.cencol.ca/nheung/COMP125/assignment4/assignment4.html" target="_blank">A form with dynamic validation</a>
        <!--<img class="imgList" src="/assets/images/form.png" width="600">-->
        <!--Issues using relative path for img hosting on Heroku. Google photos embed as reliable alternative-->
        <a href="http://studentweb.cencol.ca/nheung/COMP125/assignment4/assignment4.html" target="_blank">
        <img class="imgList" src="https://lh3.googleusercontent.com/qX4GlAahAmWS0UH9pdtDru4tfJ9WKPiauNI-jGAzdkWA4SheHSQ_KORr66spQuKaWab8BS2K8mLey84bwVBSlVbDHLlZ39__npus6cSglFlPrBvUCAeO1EF7civI9uMr_h66Tz42RHY=w2400" width="600">
        </a>
        <i>A form which will alert the user of valid or invalid entires in the form fields in real time prior to submission.</i>
     </li>
    </ul>
  
  </div>


<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%> 


