<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>

<div class="innerdiv">
   
   <h1><%= title %></h1>
   <br>
    <h3>Here are some services that I can provide: </h3>
    <br>
    <ul class="list-group">
       <li class="list-group-item">
          C# programming/debugging
       </li>
       <br>
       <li class="list-group-item">
          Java programming/debugging
       </li>
       <br>
       <li class="list-group-item">
          HTML/CSS troubleshooting
       </li>
    </ul>
 
 </div>

   <%-include ('partials/bottom_nav.ejs');%>
<%-include ('partials/footer.ejs');%>   


